{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section
    class=" flex justify-center 
           "
>
    <div class="max-w-3xl px-6 pt-32 text-center">
        <h1 class="text-6xl md:text-7xl font-extrabold mb-8
                   text-base-400 tracking-wide">
            Bienvenue sur <span class="text-base-300">Chirorg</span>
        </h1>

        <p class="text-2xl md:text-3xl font-semibold
                  text-base-500 leading-relaxed">
            Organisez vos programmes opératoires.
        </p>
    </div>
</section>
{% endblock %}
