{% extends 'base.html.twig' %}
{% block title %}Créer un matériel{% endblock %}

{# Bloc principal du contenu de la page #} {%
block body %} {# Titre de la page : création d'un nouveau matériel #}
<h1>Créer un matériel</h1>

{# Début du formulaire Symfony - ouvre la balise
<form>
    - ajoute automatiquement le token CSRF - définit la méthode et l'action #}
    {{ form_start(form) }}

    {# Affiche automatiquement tous les champs définis dans MaterielType #}
    {{ form_widget(form) }}

    {# Bouton de soumission du formulaire #}
    <button type="submit">Enregistrer</button>

    {# Fin du formulaire Symfony #}
    {{ form_end(form) }}

    {# Lien de retour vers la liste des matériels #}
    <a href="{{ path('materiel_index') }}">⬅ Retour</a>
</form>
{% endblock %}
