@import "tailwindcss";
@source not "../../public";



@theme {
    --color-base-300: #bfddff;
    --color-base-400: #4892e0;
    --color-base-500:#4175AD;
    --color-rad-100: #2A3B4D;
    --color-rad-200: #1C2A38;
    --color-rad-300: #0F161D;
    
}



/* Liens + liens hover */
.link-glow {
    color: #bfddff;
    font-weight: 800;
    font-size: 1.5rem; 
    text-decoration: none;
    transition: color 0.5s, text-shadow 0.5s;
}

.link-glow:hover {
    color: #f6ad55;
    text-shadow: 0 0 8px rgba(246, 173, 85, 0.4);
}

/* Barre progressive sous les liens */
.topbar {
    position: relative;
}

.topbar a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #bfddff; /* couleur des liens */
    font-weight: 800;
    transition: color 0.5s, text-shadow 0.5s;
}

.topbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* un peu en dessous du texte */
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #f28e2b, #f6ad55, #f9d9a8);
    transition: width 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(246, 173, 85, 0.6);
}

.topbar a:hover {
    color: #f6ad55;
    text-shadow: 0 0 8px rgba(246, 173, 85, 0.4);
}

.topbar a:hover::after {
    width: 100%;
}
