@import "tailwindcss";
@source not "../../public";



@theme {
    --color-base-300: #bfddff;
    --color-base-400: #4892e0;
    --color-base-500:#4175AD;
    --color-rad-100: #2A3B4D;
    --color-rad-200: #1C2A38;
    --color-rad-300: #0F161D;
    
}



/* Liens + liens hover */
.link-glow {
    color: #bfddff;
    font-weight: 800;
    font-size: 1.5rem; 
    text-decoration: none;
    transition: color 0.5s, text-shadow 0.5s;
}

.link-glow:hover {
    color: #f6ad55;
    text-shadow: 0 0 8px rgba(246, 173, 85, 0.4);
}
