{% extends 'base.html.twig' %} {# Bloc principal du contenu de la page #} {%
block body %} {# Titre de la page : modification d'un chirurgien existant #}
<h1>Modifier un chirurgien</h1>

{# Début du formulaire Symfony - ouvre la balise
<form>
    - ajoute automatiquement le token CSRF - définit la méthode et l'action #}
    {{ form_start(form) }}

    {# Affiche automatiquement tous les champs du formulaire ChirurgienType #}
    {{ form_widget(form) }}

    {# Bouton de soumission du formulaire #}
    <button type="submit">Enregistrer</button>

    {# Fin du formulaire Symfony #}
    {{ form_end(form) }}

    {# Lien de retour vers la liste des chirurgiens #}
    <a href="{{ path('chirurgien_index') }}">⬅ Retour</a>
</form>
{% endblock %}
