{% extends 'base.html.twig' %}

{% block title %}Ajouter un chirurgien{% endblock %}

{% block body %}
<h1>Ajouter un chirurgien</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Ajouter</button>
{{ form_end(form) }}

<a href="{{ path('app_chirurgien') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
